.git/
.gradle/
.gradle-docker/
.npm/
.nows/
.publishing/
.gnupg-docker/
**/build/
repos/NowsWeb/node_modules/
repos/NowsWeb/.next/
repos/NowsWeb/out/
repos/NowsWeb/.git/
repos/NowsApiMod/.git/
repos/NowsGradlePlugin/.git/
repos/NowsInstaller/.git/
repos/NowsRemapper/.git/
local.properties
*.iml
.idea/
