.git/
.gradle/
.gradle-docker/
.npm/
.nows/
.publishing/
.gnupg-docker/
**/build/
repos/NowsWeb/node_modules/
repos/NowsWeb/dist/
repos/NowsWeb/.git/
repos/NowsApiMod/.git/
local.properties
*.iml
.idea/
