[submodule "repos/NowsWeb"]
	path = repos/NowsWeb
	url = git@github.com:NowsMC/NowsWeb.git
	update = none
[submodule "repos/NowsApiMod"]
	path = repos/NowsApiMod
	url = git@github.com:NowsMC/NowsApiMod.git
[submodule "repos/NowsGradlePlugin"]
	path = repos/NowsGradlePlugin
	url = git@github.com:NowsMC/NowsGradlePlugin.git
[submodule "repos/NowsInstaller"]
	path = repos/NowsInstaller
	url = git@github.com:NowsMC/NowsInstaller.git
[submodule "repos/NowsRemapper"]
	path = repos/NowsRemapper
	url = git@github.com:NowsMC/NowsRemapper.git
[submodule "example-mod"]
	path = example-mod
	url = git@github.com:NowsMC/example-mod.git
