format=1
nows.version=${nows.version}
minecraft.version=26.2
mainClass=space.nows.mcnows.runtime.NowsLauncher
mavenBaseUrl=https://repo1.maven.org/maven2

# Nows modular jars are downloaded from files.nows.space. Keep these independently replaceable.
# If files.nows.space is unavailable, NowsInstaller falls back to mavenBaseUrl + artifact path.
artifact.count=26
artifact.0.coordinate=space.nows.mcnows:nows-core:${nows.version}
artifact.0.path=space/nows/mcnows/nows-core/${nows.version}/nows-core-${nows.version}.jar
artifact.0.url=https://files.nows.space/releases/nows/${nows.version}/26.2/libraries/space/nows/mcnows/nows-core/${nows.version}/nows-core-${nows.version}.jar
artifact.1.coordinate=space.nows.mcnows:nows-minecraft:${nows.version}
artifact.1.path=space/nows/mcnows/nows-minecraft/${nows.version}/nows-minecraft-${nows.version}.jar
artifact.1.url=https://files.nows.space/releases/nows/${nows.version}/26.2/libraries/space/nows/mcnows/nows-minecraft/${nows.version}/nows-minecraft-${nows.version}.jar
artifact.2.coordinate=space.nows.mcnows:nows-integration-kdl:${nows.version}
artifact.2.path=space/nows/mcnows/nows-integration-kdl/${nows.version}/nows-integration-kdl-${nows.version}.jar
artifact.2.url=https://files.nows.space/releases/nows/${nows.version}/26.2/libraries/space/nows/mcnows/nows-integration-kdl/${nows.version}/nows-integration-kdl-${nows.version}.jar
artifact.3.coordinate=space.nows.mcnows:nows-integration-geb:${nows.version}
artifact.3.path=space/nows/mcnows/nows-integration-geb/${nows.version}/nows-integration-geb-${nows.version}.jar
artifact.3.url=https://files.nows.space/releases/nows/${nows.version}/26.2/libraries/space/nows/mcnows/nows-integration-geb/${nows.version}/nows-integration-geb-${nows.version}.jar
artifact.4.coordinate=space.nows.mcnows:nows-integration-logging:${nows.version}
artifact.4.path=space/nows/mcnows/nows-integration-logging/${nows.version}/nows-integration-logging-${nows.version}.jar
artifact.4.url=https://files.nows.space/releases/nows/${nows.version}/26.2/libraries/space/nows/mcnows/nows-integration-logging/${nows.version}/nows-integration-logging-${nows.version}.jar
artifact.5.coordinate=space.nows.mcnows:nows-integration-mixin:${nows.version}
artifact.5.path=space/nows/mcnows/nows-integration-mixin/${nows.version}/nows-integration-mixin-${nows.version}.jar
artifact.5.url=https://files.nows.space/releases/nows/${nows.version}/26.2/libraries/space/nows/mcnows/nows-integration-mixin/${nows.version}/nows-integration-mixin-${nows.version}.jar
artifact.6.coordinate=space.nows.mcnows:nows-runtime:${nows.version}
artifact.6.path=space/nows/mcnows/nows-runtime/${nows.version}/nows-runtime-${nows.version}.jar
artifact.6.url=https://files.nows.space/releases/nows/${nows.version}/26.2/libraries/space/nows/mcnows/nows-runtime/${nows.version}/nows-runtime-${nows.version}.jar

# GitHub Package: bundled inside NowsInstaller and copied out; user needs no GitHub token.
artifact.7.coordinate=dev.kdl:kdl4j:1.0.1
artifact.7.path=dev/kdl/kdl4j/1.0.1/kdl4j-1.0.1.jar
artifact.7.source=embedded
artifact.7.resource=/META-INF/nows/embedded-libs/kdl4j-1.0.1.jar

# Public runtime libraries. Minecraft-owned Log4j/SLF4J/Gson/Guava/JSpecify are not duplicated.
# Offline testing can reuse these paths by placing JARs under --artifactDir with the same relative layout.
artifact.8.coordinate=foo.zaaarf.geb:core:0.5.4
artifact.8.path=foo/zaaarf/geb/core/0.5.4/core-0.5.4.jar
artifact.8.url=https://repo1.maven.org/maven2/foo/zaaarf/geb/core/0.5.4/core-0.5.4.jar
artifact.9.coordinate=io.projectreactor:reactor-core:3.8.6
artifact.9.path=io/projectreactor/reactor-core/3.8.6/reactor-core-3.8.6.jar
artifact.9.url=https://repo1.maven.org/maven2/io/projectreactor/reactor-core/3.8.6/reactor-core-3.8.6.jar
artifact.10.coordinate=org.reactivestreams:reactive-streams:1.0.4
artifact.10.path=org/reactivestreams/reactive-streams/1.0.4/reactive-streams-1.0.4.jar
artifact.10.url=https://repo1.maven.org/maven2/org/reactivestreams/reactive-streams/1.0.4/reactive-streams-1.0.4.jar
artifact.11.coordinate=com.lmax:disruptor:4.0.0
artifact.11.path=com/lmax/disruptor/4.0.0/disruptor-4.0.0.jar
artifact.11.url=https://repo1.maven.org/maven2/com/lmax/disruptor/4.0.0/disruptor-4.0.0.jar
artifact.12.coordinate=org.spongepowered:mixin:0.8.7
artifact.12.path=org/spongepowered/mixin/0.8.7/mixin-0.8.7.jar
artifact.12.url=https://repo.spongepowered.org/repository/maven-public/org/spongepowered/mixin/0.8.7/mixin-0.8.7.jar
artifact.12.mavenUrl=https://repo.spongepowered.org/repository/maven-public/org/spongepowered/mixin/0.8.7/mixin-0.8.7.jar
artifact.13.coordinate=org.ow2.asm:asm:9.8
artifact.13.path=org/ow2/asm/asm/9.8/asm-9.8.jar
artifact.13.url=https://repo1.maven.org/maven2/org/ow2/asm/asm/9.8/asm-9.8.jar
artifact.14.coordinate=org.ow2.asm:asm-tree:9.8
artifact.14.path=org/ow2/asm/asm-tree/9.8/asm-tree-9.8.jar
artifact.14.url=https://repo1.maven.org/maven2/org/ow2/asm/asm-tree/9.8/asm-tree-9.8.jar
artifact.15.coordinate=org.ow2.asm:asm-commons:9.8
artifact.15.path=org/ow2/asm/asm-commons/9.8/asm-commons-9.8.jar
artifact.15.url=https://repo1.maven.org/maven2/org/ow2/asm/asm-commons/9.8/asm-commons-9.8.jar
artifact.16.coordinate=org.ow2.asm:asm-analysis:9.8
artifact.16.path=org/ow2/asm/asm-analysis/9.8/asm-analysis-9.8.jar
artifact.16.url=https://repo1.maven.org/maven2/org/ow2/asm/asm-analysis/9.8/asm-analysis-9.8.jar
artifact.17.coordinate=org.ow2.asm:asm-util:9.8
artifact.17.path=org/ow2/asm/asm-util/9.8/asm-util-9.8.jar
artifact.17.url=https://repo1.maven.org/maven2/org/ow2/asm/asm-util/9.8/asm-util-9.8.jar

# Version-specific Minecraft API adapter for the default installer target.
artifact.18.coordinate=space.nows.mcnows:nows-mc-26.2:${nows.version}
artifact.18.path=space/nows/mcnows/nows-mc-26.2/${nows.version}/nows-mc-26.2-${nows.version}.jar
artifact.18.url=https://files.nows.space/releases/nows/${nows.version}/26.2/libraries/space/nows/mcnows/nows-mc-26.2/${nows.version}/nows-mc-26.2-${nows.version}.jar
artifact.19.coordinate=space.nows.mcnows:nows-integration-network:${nows.version}
artifact.19.path=space/nows/mcnows/nows-integration-network/${nows.version}/nows-integration-network-${nows.version}.jar
artifact.19.url=https://files.nows.space/releases/nows/${nows.version}/26.2/libraries/space/nows/mcnows/nows-integration-network/${nows.version}/nows-integration-network-${nows.version}.jar
artifact.20.coordinate=com.squareup.moshi:moshi:1.15.2
artifact.20.path=com/squareup/moshi/moshi/1.15.2/moshi-1.15.2.jar
artifact.20.url=https://repo1.maven.org/maven2/com/squareup/moshi/moshi/1.15.2/moshi-1.15.2.jar
artifact.21.coordinate=com.squareup.okio:okio-jvm:3.7.0
artifact.21.path=com/squareup/okio/okio-jvm/3.7.0/okio-jvm-3.7.0.jar
artifact.21.url=https://repo1.maven.org/maven2/com/squareup/okio/okio-jvm/3.7.0/okio-jvm-3.7.0.jar
artifact.22.coordinate=org.jetbrains.kotlin:kotlin-stdlib:1.8.21
artifact.22.path=org/jetbrains/kotlin/kotlin-stdlib/1.8.21/kotlin-stdlib-1.8.21.jar
artifact.22.url=https://repo1.maven.org/maven2/org/jetbrains/kotlin/kotlin-stdlib/1.8.21/kotlin-stdlib-1.8.21.jar
artifact.23.coordinate=org.jetbrains.kotlin:kotlin-stdlib-jdk7:1.8.21
artifact.23.path=org/jetbrains/kotlin/kotlin-stdlib-jdk7/1.8.21/kotlin-stdlib-jdk7-1.8.21.jar
artifact.23.url=https://repo1.maven.org/maven2/org/jetbrains/kotlin/kotlin-stdlib-jdk7/1.8.21/kotlin-stdlib-jdk7-1.8.21.jar
artifact.24.coordinate=org.jetbrains.kotlin:kotlin-stdlib-jdk8:1.8.21
artifact.24.path=org/jetbrains/kotlin/kotlin-stdlib-jdk8/1.8.21/kotlin-stdlib-jdk8-1.8.21.jar
artifact.24.url=https://repo1.maven.org/maven2/org/jetbrains/kotlin/kotlin-stdlib-jdk8/1.8.21/kotlin-stdlib-jdk8-1.8.21.jar
artifact.25.coordinate=org.jetbrains:annotations:13.0
artifact.25.path=org/jetbrains/annotations/13.0/annotations-13.0.jar
artifact.25.url=https://repo1.maven.org/maven2/org/jetbrains/annotations/13.0/annotations-13.0.jar
